/* globals.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Definiciones para el modo claro */
  --background: radial-gradient(circle, #f49bef 0%, #ffffff 90%);
  --foreground: #333333;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Cambios de color y fondo para el modo oscuro */
    --background: radial-gradient(circle, rgb(97, 27, 163) 0%, rgba(0, 0, 0, 1) 90%);
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  background-attachment: fixed; /* Fija el fondo */
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

h1, h2, h3 {
  @apply font-bold;
}

p {
  @apply leading-relaxed;
}

@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@800&display=swap');

/* Evita el "bouncing" del scroll en móviles */
html, body {
  overscroll-behavior: none;
}
