@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: black;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: black;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body {
  @apply bg-gray-900 text-white;
}

h1, h2, h3 {
  @apply font-bold;
}

p {
  @apply leading-relaxed;
}

.bg-clip-text {
  background-clip: text;
  -webkit-background-clip: text;
}


